@model StudentMApp.Model.CourseAssign

@{
    ViewBag.Title = "Course Assign";
}

<h3>Course Assign to Teacher</h3>
@Html.ActionLink("View Course Statics", "Index", "Course") | @Html.ActionLink("Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />

<div class="container">
    <p id="message"></p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)


            <div class="form-group">
                <div class="col-md-12 input-group">
                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.deptList, "Id", "Name"), "Department", new { @id = "DepartmentId", required=""})
                    @Html.ValidationMessageFor(model => model.DepartmentId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    @Html.DropDownListFor(model => model.TeacherId, new SelectList(string.Empty, "TId", "Name"), "Teacher", new { @id = "TeacherId", required = "" })
                    @Html.ValidationMessageFor(model => model.TeacherId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    <input type="text" readonly class="form-control form-control-plaintext" id="CreditTaken" name="CreditTaken" placeholder="Credit Taken" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    <input type="text" readonly class="form-control form-control-plaintext" id="DueCredit" name="DueCredit" placeholder="Due Credit" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    @Html.DropDownListFor(model => model.CourseId, new SelectList(string.Empty, "CId", "CourseCode"), "Course", new { @id = "CourseId", required="" })
                    @Html.ValidationMessageFor(model => model.CourseId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    <input type="text" readonly class="form-control form-control-plaintext" id="CourseName" name="CourseName" placeholder="Course Name" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    <input type="text" readonly class="form-control form-control-plaintext" id="CourseCredit" name="CourseCredit" placeholder="Course Credit" required="">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Assign" id="Assign" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $("#DepartmentId").change(function() {

                var deptId = $("#DepartmentId").val();

                $("#TeacherId").empty();
                var json = { DepartmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherByDeptId", "CourseAssign")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        //alert(data);
                        $("#TeacherId").append('<option value=' + 0 + '>' + "Teacher" + '</option>');
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#TeacherId").append('<option value=' + value.TId + '>' + value.Name + '</option>');
                        });
                    }
                });


                $("#CourseId").empty();
                var json1 = { DepartmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByDeptId", "CourseAssign")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json1),
                    success: function(data) {
                        //alert(data);
                        $("#CourseId").append('<option value=' + 0 + '>' + "Course" + '</option>');
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#CourseId").append('<option value=' + value.CId + '>' + value.CourseCode + '</option>');
                        });
                    }
                });
            });

            $("#TeacherId").change(function() {
                var teacher = $("#TeacherId").val();
                var jsonData = { TeacherId: teacher };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherById", "CourseAssign")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function(data) {
                        // alert(data.CreditTaken + " " + data.CreditLeft);
                        $("#CreditTaken").val(data.Credit);
                        $("#DueCredit").val(data.DueCredit);
                    }
                });
                return false;
            });


            $("#CourseId").change(function() {
                var course = $("#CourseId").val();
                var jsonData = { CourseId: course };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseById", "CourseAssign")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function(data) {
                        // alert(data.CreditTaken + " " + data.CreditLeft);
                        $("#CourseName").val(data.CourseName);
                        $("#CourseCredit").val(data.CourseCredit);
                    },

                });
                return false;
            });

            //var creditLeft = $("#DueCredit").val() - $("#CourseCredit").val();
            $("#Assign").click(function() {
                //alert("Hello");
                var teacherId = $("#TeacherId").val();
                var deptId = $("#DepartmentId").val();
                var courseId = $("#CourseId").val();
                var courseCredit = $("#CourseCredit").val();
                var creditTaken = $("#CreditTaken").val();
                var dueCredit = $("#DueCredit").val();

                var data1 = { teacherId: teacherId, deptId: deptId, courseId: courseId, courseCredit: courseCredit, creditTaken: creditTaken, dueCredit: dueCredit };
                //calculate remaining credit
                var creditLeft = dueCredit - courseCredit;
                ////if (deptId == 0 || teacherId == 0 || courseId == 0) {
                ////    alert("Please enter all information");
                ////}
                if (creditLeft >= 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CourseAssign", "CourseAssign")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data1),
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            alert(data.msg);
                        }
                    });
                } else {
                    //alert("hello");
                    var r = confirm("More than the limit of teacher's credit. Are you sure you want to add this Course ?");
                    if (r == true) {
                        //alert("You pressed OK!");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CourseAssign", "CourseAssign")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(data),
                            dataType: "json",
                            success: function(data) {
                                if (data.msg != null) {
                                    alert(JSON.stringify(data.msg));
                                }
                            }
                        });
                    } else {
                        alert("Course is not assigned.");
                    }
                }
            });

        });
    </script>
}