﻿@model StudentMApp.Model.AllocateClass

@{
    ViewBag.Title = "AllocateClassroom";
}

<h3>Allocate Classroom</h3>
@Html.ActionLink("View Allocated classes", "Index", "AllocateClass") | @Html.ActionLink("Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.ErrorMessage
            </div>
        }
       
        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.DeptId, new SelectList(ViewBag.deptList, "Id", "Name"), "Department", new { htmlAttributes = new { @class = "form-control", @id = "DeptId" }, required="" })
                @Html.ValidationMessageFor(model => model.DeptId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.CourseId, new SelectList(string.Empty, "CId", "CourseName"), "Courses", new { htmlAttributes = new { @class = "form-control", @id = "CourseId" }, required="" })
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.RoomNo, new SelectList(ViewBag.roomList, "RoomNo", "RoomNo"), "Room No", new { htmlAttributes = new { @class = "form-control", @id = "RoomNo" }, required="" })
                @Html.ValidationMessageFor(model => model.RoomNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.DayName, new SelectList(ViewBag.dayList, "DayName", "DayName"), new { htmlAttributes = new { @class = "form-control", @id = "DayName" }, required="" })
                @Html.ValidationMessageFor(model => model.DayName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 input-group">
                <input type="text" readonly class="form-control-plaintext" name="StartTime" placeholder="StartTime" id="StartTime" required="" style="width: 260px">
            </div>
            <div class="col-md-9"></div>
        </div>

        <div class="form-group">
            <div class="col-md-3 input-group">
                <input type="text" readonly class="form-control-plaintext" name="EndTime" placeholder="EndTime" id="EndTime" required="" style="width: 260px">
            </div>
            <div class="col-md-9"></div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Allocate" id="allocate" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />       
    
    <script>
        $(document).ready(function() {
            $("#DeptId").change(function() {
                var DeptId = $("#DeptId").val();

                $("#CourseId").empty();
                var json = { departmentId: DeptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByDeptId", "AllocateClass")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#CourseId").append('<option value=' + 0 + '>' + "Courses" + '</option>');
                        $.each(data, function(key, value) {
                            $("#CourseId").append('<option value=' + value.CId + '>' + value.CourseName + '</option>');
                        });
                    }
                });
                return false;
            });

            $('#StartTime').timepicker({
                format: 'hh.MM.TT'
            });
            $('#EndTime').timepicker({
                format: 'hh.MM.TT'
            });

            $("#allocate").click(function() {

            });

            $("#alert").click(function() {
                $("#alert").hide();

            });

            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });
        });
    </script>

}
