﻿
@{
    ViewBag.Title = "Index";
}

<h3>View Class Schedule and Room Allocation Information</h3>
@Html.ActionLink("Allocate Classroom", "AllocateClassroom", "AllocateClass") | @Html.ActionLink("Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <hr/>
    <br/>
    <table cellspacing="2" cellpadding="2">
        <tr>
            @*<td><label for="departmentId">Department</label> </td>*@
            <td>
                <select name="departmentId" id="departmentId" style="width: 300px">
                    <option value="0">Departments</option>
                    @foreach (var c in ViewBag.deptList)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </td>
        </tr>
    </table>

    <div id="divData" class="container">
        <br />
        <table class="table table-hover" id="tblData">
            <thead>
                <tr>
                    <th align="left" class="Courseth">Course Code</th>
                    <th align="left" class="Courseth">Name / Title</th>
                    <th align="left" class="Courseth">Schedule Info</th>
                </tr>
            </thead>

            <tbody id="tblBody"></tbody>
        </table>

        <p style="color: red">@ViewBag.msg</p>
    </div>
  
    @*<div>
        <table id="tblCourse" class="tblCourse">
            <thead>
                <tr>
                    <th align="left" class="Courseth">Course Code</th>
                    <th align="left" class="Courseth">Name/Title</th>
                    <th align="left" class="Courseth">Schedule Info</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>*@



    @*<style type="text/css">
        .tblCourse {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        .Courseth {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        .coursetd {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>*@


    @section scripts{
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#departmentId").change(function () {
                    var catId = $("#departmentId").val();
                    $("#tblData tbody tr").remove();
                    var json = { departmentId: catId };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetDeptCourse", "AllocateClass")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(json),
                        success: function (data) {
                            var items = '';
                            $.each(data, function (i, item) {
                                var rows =
                                    "<tr>"
                                        + "<td class='coursetd'>" + item.CourseCode + "</td>"
                                        + "<td class='coursetd'>" + item.CourseName + "</td>"
                                        + "<td class='coursetd'>" + item.Schedule + "</td>"
                                        + "</tr>";
                                $('#tblData tbody').append(rows);
                            });
                        },
                        error: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });
                    return false;
                });
            });
        </script>

    }

}