﻿
@{
    ViewBag.Title = "UnalloClassroom";
}

<h3>Unallocate Classroom</h3>
<link href="~/Content/form-design.css" rel="stylesheet" />
@Html.ActionLink("Back to Menu", "USS", "Home")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unallocate Rooms" class="btn btn-default" id="btnUnallocate" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#btnUnallocate").click(function() {
                var r = confirm("Are you sure to unallocate all classroom?");
                if (r == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Unallocate", "AllocateClass")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ flag: true }),
                        dataType: "json",
                        async: false,
                        success: function(data) {
                            if (data.msg != null) {
                                alert(data.msg);
                            }
                            if (data == true) {
                               console.log("true");
                               alert("Successfully unallocate all classroom.");
                            }
                        }
                    });
                } else {
                    alert("Failed.");
                }
            });

            $("#alert").click(function() {
                $("#alert").hide();
            });

            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });

        });
    </script>
}