﻿@using StudentMApp.Model
@model StudentMApp.Model.Student

@{
    ViewBag.Title = "Register";
    Student student = ViewBag.Message;
}

<h3>Student Registration</h3>
@Html.ActionLink("Back to Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @if (@student != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <table>
                    <tr>
                        <th>Student Information</th>
                    </tr>
                    <tr>
                        <td>Student Reg No:</td>
                        <td>@student.RegNo</td>
                    </tr>

                    <tr>
                        <td>Name:</td>
                        <td>@student.Name</td>
                    </tr>

                    <tr>
                        <td>Email:</td>
                        <td>@student.Email</td>
                    </tr>

                    <tr>
                        <td>Contact No:</td>
                        <td>@student.ContactNo</td>
                    </tr>

                    <tr>
                        <td>Address:</td>
                        <td>@student.Address</td>
                    </tr>

                    <tr>
                        <td>Registration Date:</td>
                        <td>@student.RegDate</td>
                    </tr>

                    <tr>
                        <td>Department:</td>
                        <td>@student.DeptName</td>
                    </tr>
                </table>
            </div>
           }
           
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="Name" placeholder="Name" required="" style="width: 240px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" name="Email" placeholder="Email" required="" style="width: 240px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" class="form-control" name="ContactNo" placeholder="Contact Number" required="" style="width: 240px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                <input type="text" class="form-control" name="Address" placeholder="Address" required="" style="width: 240px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" name="RegDate" required="" placeholder="Date" id="RegDate" style="width: 240px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.DeptId, new SelectList(ViewBag.DeptList, "Id", "Name"),"Department", new {required=""})
                @Html.ValidationMessageFor(model => model.DeptId)
            </div>
        </div>


        <div class="form-group">
            <div>
                <input type="submit" value="Register" class="btn btn-success" id="Register" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script> 
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
        $(document).ready(function() {
            $("#RegDate").datepicker({
                dateFormat: "dd/mm/yy"
            });

            $("#RegDate").datepicker("setDate", new Date());

            $("#alert").click(function() {
                $("#alert").hide();

                $("#Name").val("");
                $("#Email").val("");
                $("#Contact").val("");
                $("#Address").val("");
            });

            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });
        });
    </script>
}
