﻿@using StudentMApp.Model
@model StudentMApp.Model.Teacher
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher List</title>
</head>
<body>
    <div class="col-sm-12">
        <div class="container">
            <h3>Teacher List</h3>
            <div>@Html.ActionLink("Add New Teacher", "Save", "Teacher") | @Html.ActionLink("Menu", "USS", "Home")</div>
            <hr />

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DesignID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeptID)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @if (ViewBag.TeacherList != null)
                    {

                        foreach (Teacher show in ViewBag.TeacherList)
                        {
                            <tr>
                                <td>@show.Name</td>
                                <td>@show.Address</td>
                                <td>@show.Email</td>
                                <td>@show.Contact</td>
                                <td>@show.Designation</td>
                                <td>@show.Department</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            
            <p style="color: red">@ViewBag.msg</p>
        </div>
    </div>
</body>
</html>
