﻿@model StudentMApp.Model.Teacher

@{
    ViewBag.Title = "Add New Teacher";
}

<h3>Add New Teacher</h3>
@Html.ActionLink("Teacher's List", "Index") | @Html.ActionLink("Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "TForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="Name" placeholder="Name" required="" style="width: 244px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                <input type="text" class="form-control" name="Address" placeholder="Address" required="" style="width: 244px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" name="Email" placeholder="Email" required="" style="width: 244px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" class="form-control" name="Contact" placeholder="Contact" required="" style="width: 244px">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.DesignID, new SelectList(ViewBag.DesignList, "Id", "Name"), "Designation", new { required = "" })
                @Html.ValidationMessageFor(model => model.DesignID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.DeptID, new SelectList(ViewBag.deptList, "Id", "Name"), "Department", new { required = "" })
                @Html.ValidationMessageFor(model => model.DeptID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                <input type="number" step="any" class="form-control" name="Credit" placeholder="Credit" required="" style="width: 244px">
            </div>
        </div>


        <div class="form-group">
            <div @*class="col-md-offset-2 col-md-10"*@>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section scripts
{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>  
    <script>
        $(document).ready(function () {

            $("#alert").click(function () {
                $("#alert").hide();
            });

            $("#erroralert").click(function () {
                $("#erroralert").hide();
            });
        });
    </script>
}