﻿@model StudentMApp.Model.StudentResult
@{
    ViewBag.Title = "Index";
}

<h3>View Student Result</h3>
@Html.ActionLink("Menu", "USS", "Home") | @Html.ActionLink("Save Student Result", "StudentResult", "StudentResult")
<link href="~/Content/form-design.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.RegNo, new SelectList(ViewBag.RegNoList, "Id", "RegNo"), "Student Registration No", new { htmlAttributes = new { @class = "form-control", @id = "RegNo" }, required="" })
                @Html.ValidationMessageFor(model => model.RegNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentName" placeholder="Student Name" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentEmail" placeholder="Student Email" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="Department" placeholder="Department" required="">
            </div>
        </div>
        
        <div class="form-group">
            <div>
                <input type="submit" value="Make PDF" class="btn btn-success" id="pdf"/>
            </div>
        </div>

        <div id="divData" class="container">
            <br/>
            <table id="tblData" class="table table-hover">
                <thead>
                    <tr>
                        <th align="left" class="Courseth">Course Code</th>
                        <th align="left" class="Courseth">Name / Title</th>
                        <th align="left" class="Courseth">Grade</th>
                    </tr>
                </thead>
                <tbody id="tblBody"></tbody>
            </table>
            <p id="msg" class="text-center" style="font-weight: bold"></p>
        </div>
        
        @*<style type="text/css">
            .tblCourse {
                font-family: verdana,arial,sans-serif;
                font-size: 11px;
                color: #333333;
                border-width: 1px;
                border-color: #666666;
                border-collapse: collapse;
            }

            .Courseth {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            .coursetd {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
        </style>*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>

        $(document).ready(function() {

            $("#RegNo").change(function() {
                var student = $("#RegNo").val();
                var jsonData = { RegNo: student };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function(data) {
                            $("#StudentName").val(data.Name);
                            $("#StudentEmail").val(data.Email);
                            $("#Department").val(data.DeptName); 
                    }
                });
                return false;
            });


            $("#RegNo").change(function() {
                var catId = $("#RegNo").val();
                $("#tblData tbody tr").remove();
                var json = { RegNo: catId };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStudentResult", "StudentResult")',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(json),
                    success: function (data) {
                        if (!$.trim(data))
                        {
                            $("#msg").html("Data not found");
                        }
                        $.each(data, function(i, item) {
                            var rows =
                                "<tr>"
                                    + "<td class='coursetd'>" + item.courseCode + "</td>"
                                    + "<td class='coursetd'>" + item.courseName + "</td>"
                                    + "<td class='coursetd'>" + item.GradeLetter + "</td>"
                                    + "</tr>";
                            $('#tblData tbody').append(rows);
                            $("#msg").empty();
                        });
                    },
                    error: function(ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });
                return false;
            });
        });


//$("#pdf").click(function () {

        //    $("#StudentName").val("");
        //    $("#StudentEmail").val("");
        //    $("#Department").val("");
        //    $("#tblCourse").val("");
        //});


    </script>
}