﻿@model StudentMApp.Model.StudentResult
@{
    ViewBag.Title = "StudentResult";
    string success = ViewBag.Message;
    string error = ViewBag.ErrorMessage;
}

<h3>Student Result</h3>
@Html.ActionLink("Menu", "USS", "Home") | @Html.ActionLink("View Student Result", "Index", "StudentResult")
<link href="~/Content/form-design.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @success
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @error
            </div>
        }

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.RegNo, new SelectList(ViewBag.RegNoList, "Id", "RegNo"), "Student Registration No", new { htmlAttributes = new { @class = "form-control", @id = "RegNo" }, required="" })
                @Html.ValidationMessageFor(model => model.RegNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentName" placeholder="Student Name" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentEmail" placeholder="Student Email" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="Department" placeholder="Department" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.courseId, new SelectList(string.Empty, "CId", "CourseName"), "Courses", new { htmlAttributes = new { @class = "form-control", @id = "courseId" }, required="" })
                @Html.ValidationMessageFor(model => model.courseId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.GradeLetter, new SelectList(ViewBag.GradeList, "GradeName", "GradeName"), new { htmlAttributes = new { @class = "form-control", @id = "GradeLetter" }, required="" })
                @Html.ValidationMessageFor(model => model.GradeLetter)
            </div>
        </div>
        

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    <script>

	 $(document).ready(function() {

	     $("#RegNo").change(function () {
	         var student = $("#RegNo").val();
	         var jsonData = { RegNo: student };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        // alert(data.CreditTaken + " " + data.CreditLeft);
                        $("#StudentName").val(data.Name);
                        $("#StudentEmail").val(data.Email);
			            $("#Department").val(data.DeptName);
                    },

                });
                return false;
            });


	     $("#RegNo").change(function () {

	         var RegId = $("#RegNo").val();

                $("#courseId").empty();
                var json = { RegNo: RegId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByRegId", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        $("#courseId").append('<option value=' + 0 + '>' + "Courses" + '</option>');
                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#courseId").append('<option value=' + value.CId + '>' + value.CourseName + '</option>');

                        });
                    }
                });
                return false;
            });


        $("#alert").click(function () {
            $("#alert").hide();


            $("#StudentName").val("");
            $("#StudentEmail").val("");
            $("#Department").val("");
        });


        $("#erroralert").click(function () {
            $("#erroralert").hide();

            $("#RegNo").val("");
            $("#StudentName").val("");
            $("#StudentEmail").val("");
            $("#Department").val("");
        });
            });
    </script>
}