﻿@{
    ViewBag.Title = "Faculty of Arts and Social Science";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h3>Departments</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">English</a></li>
        <li><a data-toggle="tab" href="#menu1">Economics</a></li>
        <li><a data-toggle="tab" href="#menu2">Laws</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>English</h3>
            <p>The Department of English firmly believes that value-education can bring excellence in leadership, and consequently excellence in nation-building.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Economics</h3>
            <p>The Department of Economics is an integral part of FASS although, the Faculty of Business offers Economics both as minor and majoring the BBA program.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Laws</h3>
            <p>The Department of Laws aims to provide broad education in law and academic disciplines. It aims to develop in students a wide appreciation of relevant subjects and of their importance rigorous academic challenges of current law, and to train them to be excellent law practitioners. This department will provide them the training, which will help them solve the challenging law related problems they encounter. This department also focuses in developing the capabilities to identify and grow new opportunities and integrates theoretical knowledge with the capacity to apply such knowledge in practice and innovation and the practice of innovation leadership.</p>
        </div>
    </div>
</div>


