﻿@{
    ViewBag.Title = "Faculty of Business Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h3>Departments</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Accounting</a></li>
        <li><a data-toggle="tab" href="#menu1">Finance</a></li>
        <li><a data-toggle="tab" href="#menu2">Marketing</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Accounting</h3>
            <p>Accounting – see beyond the numbers’. As a part of its continuous thrives for excellence and with the understanding of the importance of accounting education, LearnIT University has introduced Department of Accounting as an independent department under the Faculty of Business Administration. Since its inception, Department of Accounting has been continuously planning and implementing several strategies to create future Accounting leaders. The holistic approach to accounting education by the Department makes its graduates well conversant with not just technicalities of accounting but also with wider behavioral implications in evolving socio-economic contexts. Moreover, the Department of Accounting is poised to explore new avenues to produce resourceful graduates for employment, both locally and globally, while providing thought leadership in accounting education in Bangladesh. The Department offers a wide range of market oriented courses that will enable students to fulfill information thirst of the organizations through a dynamic and challenging role that will employ them. These courses are conducted by a number of highly qualified faculty members, holding remarkable exposure both in academic and professional arena. The Department has designed both undergraduate [BBA] and graduate [MBA] curriculum to allow students, taking major or minor in Accounting, more flexibility in tailoring their accounting knowledge to meet professional interests and also to provide them an easy access to professional accounting degrees like CA, CMA, ACCA, CIMA etc. We believe that one degree major in accounting will open 360 degrees of possibilities for the students</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Finance</h3>
            <p>Department of Finance helps students analyze financing problems happening around the world in various different dimensions. This is further ensured by emphasizing teaching with case studies specific to various nationally and internationally-recognized firms. Moreover, courses are packaged such that students are equipped with knowledge of the cutting-edge research in finance as well as practical work in the field through field visits, study tours, simulated portfolio investment as well as internships. The Department of Finance also helps students to prepare for various professional programs like CFA and CFP. Combined with AIUB’s other departments and programs, the department provides finance students with the choices and resources they need to excel in their academic and professional careers.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Marketing</h3>
            <p>The Marketing Department is a big department with approximately 15 full time faculty members, 500 undergraduate marketing major students, and 200 MBA (Marketing major) students. As a group that is charged with boundary spanning tasks, marketing executives are responsible for listening to their customers, keeping their finger on the pulse of the marketplace, using what they learn to develop products and services that meet (and exceed) customer needs, and staying in touch to keep customers satisfied. More than anything else, modern marketing is about developing innovative solutions to customer problems and taking better care of your customers than your competitors do. Our curriculum and programs are designed to provide our students with the tools and skills they need to be customer-oriented business leaders who are ethically sensitive and globally aware.
</p>
        </div>
    </div>
</div>


