﻿@{
    ViewBag.Title = "Faculty of Engineering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h3>Departments</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Electrical and Electronic Engineering (EEE)</a></li>
        <li><a data-toggle="tab" href="#menu1">Architechture</a></li>
        <li><a data-toggle="tab" href="#menu2">Computer Engineering (CoE)</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Electrical and Electronic Engineering (EEE)</h3>
            <p>Electrical and Electronic Engineering is concerned with the design, research, development, planning, manufacture and management of systems and devices relying on electricity and light to transmit data and power which underpin modern economies and contribute to the quality of human life. Many of these devices rely on the use of new information and computer-intensive technologies. An Electrical Engineer may be responsible for research, design, manufacture and operation of communication systems, satellite, microwave, optical, telecommunications, broadcasting, radio and television, solar energy conversion, electric power generation, transmission and distribution, computer networks, microprocessors, instrumentation and consumer devices, automatic control systems and robotics, electronic and integrated circuits, image processing systems, electrical machines, electromechanical equipment, biomedical engineering and many other areas.</p>
            </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Architechture</h3>
            <p>The Department of Architecture offers a five-year program of study leading to the degree of Bachelor of Architecture. The core of the program is the sequence of architecture studio courses in which students produce design solutions of increasing complexity and scope. Studio projects include both abstract and realistic problem solving experiences, and involvement with current theoretical issues related to architectural and environmental design.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Computer Engineering (CoE)</h3>
            <p>A Bachelor of Science in Computer Engineering focuses on the relationship between computer hardware and software systems. Graduates should be prepared to evaluate systems and design efficient solutions to problems.</p><br/>

            <p>A bachelor of science degree in computer engineering typically combines software-related classes in networks, operating systems, programming languages and data structures with hardware-related courses covering microcomputer systems, memory components, microprocessors, fiber optics and integrated circuits. The program meshes formal coursework with practical experience, preparing graduates for a diversity of career options or an advanced degree.</p>
        </div>
    </div>
</div>


