﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>LearnIT University</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet">

    <style>
        .jumbotron {
            background-size: cover;
            background-repeat: no-repeat;
            color: #ffffff;
            height: auto;
        }

        #txt {
            margin-top: 100px;
        }

        .navbar{
            margin-bottom: 0;
            background-color: #ffffff;
            z-index: 9999;
            border: 0;
            font-size: 14px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
        }

         .navbar li a, .navbar .navbar-brand {
                color: #000 !important;
        }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #64dd17 !important;
            background-color: #fff !important;
        }

        .dropdown-menu li a:hover {
            color: #fff !important;
            background-color: #64dd17 !important;
        }

        .open .dropdown-menu {
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }

        #map {
            /*/*width: 600px;
            height: 450px;
            float: right;*/
        }

        .iframe-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
        }

            .iframe-container > * {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
            }

        .card-header .btn-link {
            width: 100%;
            background-color: #4dbf1c !important;
            color: #ffffff;
        }

        .btn-link .icon {
            float: right;
            color: #fff;
            padding: 4px;
        }

        .card-body {
            margin-top: 10px;
        }
        /* Add a gray background color and some padding to the footer */
        footer {
            margin-top: 10px;
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" style="width:90px;" /></a>
                </div>
                <div class="collapse navbar-collapse" data-hover="dropdown" data-animations="fadeInUp fadeInLeft fadeInDown fadeInRight" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Academics
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Academic Regulations</a></li>
                                <li><a href="#">Courses and Tution Fees</a></li>
                                <li><a href="#">Academic Calender</a></li>
                            </ul>
                        </li>
                        <li><a href="#portfolio">Admmission</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Faculties
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ASS_School", "Home")">Faculty of Arts and Social Science</a></li>
                                <li><a href="@Url.Action("Science_School", "Home")">Faculty of Science and Technology</a></li>
                                <li><a href="@Url.Action("BA_School", "Home")">Faculty of Business Administration</a></li>
                                <li><a href="@Url.Action("Engg_School", "Home")">Faculty of Engineering</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("USS", "Home")">USS</a></li>
                        @*<li><a href="#contact">Contact</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron" style="background-image: url('../img/home-banner.jpg')">
            <div class="container text-center" id="txt">
                <h1>LearnIT University</h1>
                <p>Get your education today</p>
            </div>
        </div>
        
        <div class="container-fluid bg-3 text-center">
            <h3>News and Events</h3><br>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h4 style="color: #64dd17">Campus</h4>
                        <img src="https://img.icons8.com/wired/64/000000/university-campus.png">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4 style="color: #64dd17">Convocation</h4>
                        <img src="https://img.icons8.com/ios/64/000000/flying-motarboard-filled.png">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4 style="color: #64dd17">Library</h4>
                        <img src="https://img.icons8.com/wired/64/000000/books.png">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4 style="color: #64dd17">Academic Calender</h4>
                        <img src="https://img.icons8.com/ios/64/000000/planner.png">
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>
        
        <div class="container">
            <div class="main_title text-center">
                <h2>Goals to Achieve for the leadership</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="row about_inner">
                <div class="col-lg-6">
                    <div id="accordion">
                        <div class="list-group">
                            <div class="card-header" id="headingOne">
                                <button class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Career Services
                                    <i class="fa fa-chevron-down icon"></i>
                                </button>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="list-group">
                            <div class="card-header" id="headingTwo">                          
                                <button class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Clubs
                                    <i class="fa fa-chevron-down icon"></i>
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="card-header" id="headingThree">
                                <button class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Research
                                    <i class="fa fa-chevron-down icon"></i>
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <img class="img-responsive" src="/img/video-1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div style="margin-top: 10px">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
        </div>
        
        <br><br><br>
        
        <div class="container">
            <h3 class="text-center" style="margin-bottom: 4px;">Contact</h3>
            <br/>
            <div class="row">
                <div class="col-md-4" >
                    <p><span class="glyphicon glyphicon-map-marker"></span> 24, Kamal Ataturk Avenue, Banani, Dhaka-1213</p>
                    <p><span class="glyphicon glyphicon-phone"></span> Phone: +00 1515151515</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p>
                    <p>Follow us:&nbsp <i class="fa fa-facebook-square"></i> &nbsp <i class="fa fa-twitter"></i> &nbsp <i class="fa fa-youtube-play"></i></p>
                </div>   
                
                <div class="col-md-8">
                    <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn btn-success">Send Message</button>
                        </div>
                    </form>
                </div>                         
            </div>
            
            <div class="container" style="margin-top: 20px">
                <div class="iframe-container" id="map"></div> 
            </div>
        </div>

        <footer class="container-fluid text-center">
            <p>2000-2019 <span>&#xa9;</span> LearnIT University</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Bootstrap Dropdown Hover JS -->
        <script src="/js/bootstrap-dropdownhover.min.js"></script>

        <script type="text/javascript">
            function initMap() {
                var dhaka = new google.maps.LatLng(23.768708, 90.404447);
                var map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: dhaka });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXN6unbkjIvqtw762dl5kfqy9eHWyxImo&callback=initMap">
        </script>

    </body>
</html>