﻿
@{
    ViewBag.Title = "Faculty of Science and Technology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h3>Programs</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Computer Science and Engineering</a></li>
        <li><a data-toggle="tab" href="#menu1">Computer Science and Software Engineering</a></li>
        <li><a data-toggle="tab" href="#menu2">Software Engineering</a></li>
        <li><a data-toggle="tab" href="#menu3">Computer Science</a></li>
    </ul>
    <br/>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Computer Science and Engineering</h3>
            <p>This degree is designed to give you an appreciation of both hardware and software. As with all our degrees we support your learning through the provision of a range of up-to-date computing and electronics laboratories. The first two years of the course give you an introduction to modern computer systems. In the third year you can take specialist courses from a range including Advanced Digital Design, Computer Networks and Computer Architectures. For more info explore <a href="#">BSc CSE Curriculum</a>.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Computer Science and Software Engineering</h3>
            <p>This degree program is designed to feed the need of software engineers who must possess strong programming skills, but are more concerned with developing algorithms and analyzing and solving programming problems than with actually writing code. This mix blend of program will provide you extra confidence in the rapidly evolving software industry. For more info explore <a href="#">BSSE Curriculum</a>.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Software Engineering</h3>
            <p>This degree is designed in response to the growing importance of software to the national infrastructure and the rapid rise in demand for professional software engineers. The curriculum encompasses behavioral, managerial and technical aspects of software engineering and attempts to synthesize disciplinary paradigms and themes. This program is designed specifically for students interested in a range of application domains. We have integrated real-world experiences via the cooperative education program and via team project software development in course work. For more info explore <a href="#">BSSE Curriculum</a>.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Computer Science</h3>
            <p>This degree prepares you to work with the rapidly changing technology of computing by helping you understand the underpinnings of computing science. The first year introduces the core material with an element of individual choice. Thereafter you can continue with mainstream computer science with choices that relate to your interests and career aspirations. In the final year you will work on a project with one of our faculty members on an extended topic under individual supervision. For more info explore <a href="#">BSCS Curriculum</a>.</p>
        </div>
    </div>
</div>


