﻿
@{
    ViewBag.Title = "USS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h3>University Management System</h3>
</div>

<div class="container">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active text-center">Actions</a>
        <a href="@Url.Action("Save", "Dept")" class="list-group-item list-group-item-action">Add New Department</a>
        <a href="@Url.Action("Index", "Dept")" class="list-group-item list-group-item-action">View Departments</a>
        <a href="@Url.Action("Save", "Course")" class="list-group-item list-group-item-action">Add New Course</a>
        <a href="@Url.Action("Save", "Teacher")" class="list-group-item list-group-item-action">Add New Teacher</a>
        <a href="@Url.Action("AssignCourse", "CourseAssign")" class="list-group-item list-group-item-action">Course Assign to Teacher</a>
        <a href="@Url.Action("Index", "Course")" class="list-group-item list-group-item-action">View Course Statics</a>
        <a href="@Url.Action("Register", "Student")" class="list-group-item list-group-item-action">Register Student</a>
        <a href="@Url.Action("AllocateClassroom", "AllocateClass")" class="list-group-item list-group-item-action">Allocate Classrooms</a>
        <a href="@Url.Action("Index", "AllocateClass")" class="list-group-item list-group-item-action">View Class Schedule and Room Allocation Information</a>
        <a href="@Url.Action("EnrollStudent", "EnrollStudent")" class="list-group-item list-group-item-action">Enroll in a Course</a>
        <a href="@Url.Action("StudentResult", "StudentResult")" class="list-group-item list-group-item-action">Save Student Result</a>
        <a href="@Url.Action("Index", "StudentResult")" class="list-group-item list-group-item-action">View Student Result</a>
        <a href="@Url.Action("UnassignCourse", "Course")" class="list-group-item list-group-item-action">Unassign All Courses</a>
        <a href="@Url.Action("UnalloClassroom", "AllocateClass")" class="list-group-item list-group-item-action">Unallocate All Classrooms</a>
    </div>
</div>
