﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LearnIT University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #ffffff;
            z-index: 9999;
            border: 0;
            font-size: 14px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #000 !important;
            }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #64dd17 !important;
            background-color: #fff !important;
        }

        .dropdown-menu li a:hover {
            color: #fff !important;
            background-color: #64dd17 !important;
        }

        .open .dropdown-menu {
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        } 
    </style>

</head>
    <body>
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" style="width:90px;" /></a>
                    </div>
                    <div class="collapse navbar-collapse" data-hover="dropdown" data-animations="fadeInUp fadeInLeft fadeInDown fadeInRight" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About</a></li>
                            <li><a href="#">Admmission</a></li>
                            <li><a href="#">Offices</a></li>
                            <li><a href="@Url.Action("USS", "Home")">USS</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>*@
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        @*<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
    </body>
</html>
