﻿@model StudentMApp.Model.EnrollStudent

@{
    ViewBag.Title = "Enroll In a Course";
    string success = ViewBag.Message;
    string error = ViewBag.ErrorMessage;
}

<h3>Enroll Student</h3>
@Html.ActionLink("Back to Menu", "USS", "Home")
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link href="~/Content/form-design.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @if (ViewBag.Message != null)
        {
             <div class="alert alert-success alert-dismissable" id="alert">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                 @success
                 </div>
        }
        
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @error
            </div>
        }

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.RegNo, new SelectList(ViewBag.RegNoList, "Id", "RegNo"), "Student Registration No", new { htmlAttributes = new { @class = "form-control", @id = "RegNo" }, required="" })
                @Html.ValidationMessageFor(model => model.RegNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentName" placeholder="Student Name" required="">
            </div>        
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="StudentEmail" placeholder="Student Email" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" readonly class="form-control-plaintext" id="Department" placeholder="Department" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
               @Html.DropDownListFor(model => model.courseId, new SelectList(string.Empty, "CId", "CourseName"), "Courses", new { htmlAttributes = new { @class = "form-control", @id = "courseId" }, required="" })
               @Html.ValidationMessageFor(model => model.courseId)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" class="form-control" name="EnrollDate" required="" placeholder="EnrollDate" id="EnrollDate">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Enroll" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
<script>
	 $(document).ready(function() {
	     $("#RegNo").change(function () {
	         var student = $("#RegNo").val();
	         var jsonData = { RegNo: student };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "EnrollStudent")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        // alert(data.CreditTaken + " " + data.CreditLeft);
                        $("#StudentName").val(data.Name);
                        $("#StudentEmail").val(data.Email);
			            $("#Department").val(data.DeptName);
                    },

                });
                return false;
            });

	     $("#RegNo").change(function () {

	         var RegId = $("#RegNo").val();

                $("#courseId").empty();
                var json = { RegNo: RegId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByRegId", "EnrollStudent")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        $("#courseId").append('<option value=' + 0 + '>' + "Courses" + '</option>');
                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#courseId").append('<option value=' + value.CId + '>' + value.CourseName + '</option>');

                        });
                    }
                });
                return false;
            });
           
        $("#EnrollDate").datepicker({
            dateFormat: "dd/mm/yy"
        });

        //$("#EnrollDate").datepicker("setDate", new Date());

        $("#alert").click(function () {
            $("#alert").hide();

            $("#StudentName").val("");
            $("#StudentEmail").val("");
            $("#Department").val("");
        });


        $("#erroralert").click(function () {
            $("#erroralert").hide();

            $("#RegNo").val("");
            $("#StudentName").val("");
            $("#StudentEmail").val("");
            $("#Department").val("");
        });
            });
</script>
}
