﻿@using StudentMApp.Model
@model StudentMApp.Model.Department

@{
    ViewBag.Title = "Departments";
}

<div class="col-sm-12">
    <div class="container">
        <h3>Departments</h3>
        <div>@Html.ActionLink("Add New Department", "Save") | @Html.ActionLink("Menu", "USS", "Home")</div>
        <hr/>
        
        <h4><strong>Total Departments:</strong> @ViewBag.Total</h4>
        <br/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if (ViewBag.DeptList != null)
                {

                    foreach (Department show in ViewBag.DeptList)
                    {
                        <tr>
                            <td>@show.Id</td>
                            <td>@show.Code</td>
                            <td>@show.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <p style="color: red">@ViewBag.msg</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}