﻿@model StudentMApp.Model.Department

@{
    ViewBag.Title = "Add Department";
}

<div>
    <h3>Add New Department</h3>
    @Html.ActionLink("Department List", "Index") | @Html.ActionLink("Menu", "USS", "Home")
    <link href="~/Content/form-design.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    @using (Html.BeginForm(null, null, FormMethod.Post, new{id="DeptForm"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success alert-dismissable" id="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    @ViewBag.Message
                </div>
            }

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger alert-dismissable" id="erroralert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    @ViewBag.ErrorMessage
                </div>
            }

            <div class="form-group">
                @*@Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })*@
                @*<div class="col-md-10">
                  @Html.TextBoxFor(model => model.Code, new { placeholder="Ex. IT", required = ""  })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>*@
                
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                    <input type="text" class="form-control" name="Code" placeholder="Department Code" required="">
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Ex. Information Technology", required = "" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>*@
                
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                    <input type="text" class="form-control" name="Name" placeholder="Department Name" required="">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-success" style="width: 10%"/>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function() {
            //$("#DeptForm").validate({
            //    rules: {
            //        Code: "required",
            //        Name: "required"
            //    }
            //});


            $("#alert").click(function() {
                $("#alert").hide();
            });


            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });
        });
    </script>
}