﻿@model StudentMApp.Model.Course
@{
    ViewBag.Title = "Courses";
}

<h3>Course Statics</h3>
<div>@Html.ActionLink("Add New Course", "Save", "Course") | @Html.ActionLink("Menu", "USS", "Home")</div>
<link href="~/Content/form-design.css" rel="stylesheet" />

<div class="col-sm-12">
    <div class="container">
        <hr />
        <table cellspacing="6" cellpadding="6">
            <tr>
                <td>
                    <select name="departmentId" id="departmentId" style="width: 260px">
                        <option value="0">Departments</option>
                        @foreach (var c in ViewBag.deptList)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <div id="divData" class="container">
            <br />
           
            <table class="table table-hover" id="tblData">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SemName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TeacherName)
                        </th>
                    </tr>
                </thead>

                <tbody id="tblBody"></tbody>
            </table>
            
            <p style="color: red">@ViewBag.msg</p>
        </div>
    </div>
</div>
        

        

@section scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
                    $(document).ready(function () {
                        $("#departmentId").change(function () {
                            var catId = $("#departmentId").val();
                            var json = { departmentId: catId };
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetDeptCourse", "Course")',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(json),
                                success: function (data) {
                                    $('#divData').removeClass('hidden');
                                    $('#tblBody').empty();
                                    
                                    $.each(data, function (i, item) {
                                        var rows =
                                            "<tr>"
                                                + "<td class='coursetd'>" + item.CourseCode + "</td>"
                                                + "<td class='coursetd'>" + item.CourseName + "</td>"
                                                + "<td class='coursetd'>" + item.SemName + "</td>"
                                                + "<td class='coursetd'>" + item.TeacherName + "</td>"
                                                + "</tr>";
                                        $('#tblData').append(rows);
                                    });
                                },
                                error: function (ex) {
                                    var r = jQuery.parseJSON(response.responseText);
                                    alert("Message: " + r.Message);
                                    alert("StackTrace: " + r.StackTrace);
                                    alert("ExceptionType: " + r.ExceptionType);
                                }
                            });
                            return false;
                        });
                    });
    </script>
}
