﻿@model StudentMApp.Model.Course

@{
    ViewBag.Title = "Add Course";
}

<h3>Add New Course</h3>
@Html.ActionLink("Back to Menu", "USS", "Home")
<link href="~/Content/form-design.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginForm(null, null, FormMethod.Post, new {id="CourseForm"})) 
{
    @Html.AntiForgeryToken() 
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable" id="erroralert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" class="form-control" name="CourseCode" placeholder="Course Code" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="text" class="form-control" name="CourseName" placeholder="Course Name" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <input type="number" step="any" class="form-control" name="CourseCredit" placeholder="Course Credit" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <textarea class="form-control" name="CourseDes" placeholder="Description" rows="3" required=""></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
               @Html.DropDownListFor(model => model.DeptId, new SelectList(ViewBag.deptList, "Id", "Name"), "Department", new { required = "" })
               @Html.ValidationMessageFor(model => model.DeptId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                @Html.DropDownListFor(model => model.SemesterId, new SelectList(ViewBag.semList, "SId", "SName"), "Semester", new { required = "" })
                @Html.ValidationMessageFor(model => model.SemesterId)
            </div>
        </div>
 

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/Users/getDepartment",
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Department</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentName + '</option>';
                    }
                    $("#departmentsDropdown").html(s);
                }
            });

            $("#alert").click(function() {
                $("#alert").hide();
            });

            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });
        });
    </script>
}