﻿
@{
    ViewBag.Title = "UnassignCourse";
}

<h2>Unassign All Courses</h2>
<link href="~/Content/form-design.css" rel="stylesheet" />
@Html.ActionLink("Back to Menu", "USS", "Home")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unassign All Courses" class="btn btn-default" id="btnUnassignCourses" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#btnUnassignCourses").click(function() {
                //alert("Hello");
                var r = confirm("Are you sure to unassign all courses?");
                if (r == true) {
                    //alert("You pressed OK!");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Unassign", "Course")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({flag: true}),
                        dataType: "json",
                        async: false,
                        success: function (data, jqXhr) {
                            if (data.msg != null) {
                                alert(data.msg);
                            }
                            if (data == true) {
                                console.log("true");
                                alert("Successfully unassign all courses.");
                            }
                        }
                    });
                } else {
                    alert("Failed.");
                }
            });

            $("#alert").click(function() {
                $("#alert").hide();
            });

            $("#erroralert").click(function() {
                $("#erroralert").hide();
            });
        });
    </script>
}